# https://platform.openai.com/account/api-keys
OPENAI_API_KEY="sk-AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

TARGET_ACCT="@Eai@stellaria.network"
MASTODON_BOT_HOST="stellaria.network"
MASTODON_BOT_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
